/*
 ** Fonts import
 ** -----------------------------------------------------------------------------*/

@font-face {
  font-family: 'Font Name';
  src: url('../assets/fonts/font-name.eot');
  src: url('../assets/fonts/font-name.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/font-name.woff') format('woff'),
       url('../assets/fonts/font-name.ttf') format('truetype'),
       url('../assets/fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}