/*
 ** Element - Image
 ** -----------------------------------------------------------------------------*/

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  transform: translateZ(0);
}